@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

button {
  background-color: var(--color-main);
  color: white;
  border: none;
  cursor: pointer;
  padding: .5rem .75rem;
  border-radius: 6px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

button > a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
}

strong {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent);
  }
  button > a:hover {
    background-color: transparent;
  }
}
